body {
    background-color: snow;
}

a {
    color: white;
}

nav {
    background: darkblue;
    padding: 30px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
}

.formule-dropdown-content {
    display: none;
    position: absolute;
    background: white;
    padding: 10px;
    top: 100%;
    left: 0;
    min-width: 150px;
    z-index: 10;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-right-radius: 45px;
    border-top-left-radius: 41px;
    background-color: blue;
color: white;
}

.contact {
display: flex;
justify-content: space-around;
}
