

footer {
     position: relative;
    background-color: blue;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-right-radius: 45px;
    border-top-left-radius: 41px;
height: 100px;
    color: white;

}

.contact {
display: flex;
justify-content: space-evenly;
position: relative;
right: 600px;
}


.footer-logo {
    position: absolute;
    bottom: 1px;
    left: 1350px;
}


.logo-text-footer {
    position: absolute;
    bottom: 5px;
    font-style: italic;
    left: 750px;
    font-size: 35px;
}

.islam_button  {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 180px;
    height: 180px;
}

.katholicisme_button {
    position: absolute;
    left: 145px;
     clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 180px;
    height: 180px;
}

.joden_button {
    position: absolute;
    left: 282px;
     clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 180px;
    height: 180px;
    border-color: white;
}

.protestanteisme_button {
    position: absolute;
    top: -190px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 180px;
    height: 180px;
 left: 7px;
 bottom: 290px;
border-color: black;
}

.hindoeisme_button {
    position: absolute;
     top: -190px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 180px;
    height: 180px;
 left: 145px;
 bottom: 290px;
border-color: black;
}

.Boeddhisme_button {
 position: absolute;
  top: -190px;
 clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
 width: 180px;
 height: 180px;
 left: 285px;
 bottom: 290px;
border-color: black;
}

.religon_buttons {
    position: absolute;
    bottom: 150px;
    left: 90px;
}

.description_css {
position: relative;
top: 50px;
left: 650px;
  background-color: white;
  color: white;
  width: 700px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 8px solid orange;
  text-align: center;
  color: black;
}

.project {
  position: relative;
  border: 3px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
  height: 250px;
  position: relative;
  animation-name: myAnimation1;
  animation-duration: 4s;
  top: 280px;
  left: 300px;
}

.doelstelling-foto {
 position: relative;
 border: 3px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 225px;
  height: 300px;
  position: relative;
  animation-name: myAnimation2;
  animation-duration: 4s;
  top: 200px;
  right: 500px;
}

.doelstelling-foto-up {
position: relative;
bottom: 50px;
width: 500px;
height: 250px;
border-radius: 4px;
border: 3px solid black;
right: 460px;
animation-name: myAnimation3;
animation-duration: 4s;
}

/* doelstelling  pagina css */

.doel_tekst {
      position:absolute;
top: 225px;
left: 900px;
  background-color: white;
  color: white;
  width: 500px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 6px solid blue;
  text-align: center;
  color: black;
}

@keyframes myAnimation3 {
0%   { left:2000px;}
  50%  { bottom:100px; top:0px;}
  75% {color: white; right:2000px; }
}

@keyframes myAnimation1 {
  0%   { left:2000px;}
  50%  { bottom:200px; top:0px;}
  100% {color: white; right:px; top:300px;}
}

@keyframes myAnimation2 {
  0%   { left:2000px;}
  50%  { bottom:200px; top:0px;}
  100% {color: white; right:px; top:300px;}
}


/* table bevolking pagina css */

table, th, td {
    width: 46%;
  border: 3px solid black;

}

 th {
    background-color: blue;
    color: white;
 }
table {
    position: relative;
    left: 425px;
    height: 400px;
    top: 150px;
}


/* goedel doel pagina css */

.epjo {
    position: absolute;
}

.epjo_tekst {
    position: relative;
top: 1px;
left: 500px;
  background-color: white;
  color: white;
  width: 900px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 6px solid blue;
  text-align: center;
  color: black;
}

.impact {
    position: absolute;
    left: 950px;
    bottom: 100px;
}

.IMPACT_TEKST {
    position: relative;
    display: flex;
    justify-content: space-between;
   top: 50px;
     background-color: white;
  color: white;
  width: 900px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 6px solid blue;
  text-align: center;
  color: black;
}

.gevangenis {
    position: relative;
    top: 156px;
}

.gevangenis_tekst {  position: relative;
bottom: 60px;
left: 580px;
  background-color: white;
  color: white;
  width: 900px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 6px solid blue;
  text-align: center;
  color: black;
}

.slachtoffer {
     position: absolute;
    left: 950px;
}

.slachtoffertekst {
      position: relative;
    display: flex;
    justify-content: space-between;
     background-color: white;
  color: white;
  width: 900px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 6px solid blue;
  text-align: center;
  color: black;
}

.keerpunt_tekst {
     position: relative;
bottom: 270px;
left: 580px;
    background-color: white;
  color: white;
  width: 900px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 6px solid blue;
  text-align: center;
  color: black;
}

.in_je_bol_tekst {
 position: relative;
    display: flex;
    bottom: 100px;
    justify-content: space-between;
     background-color: white;
  color: white;
  width: 900px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 6px solid blue;
  text-align: center;
  color: black; }

  .OIP {
    position: absolute;
    top: 1800px;
    left: 1000px;
  }


  /* donatie pagina css */

  form {
    position: relative;
    border: 2px solid blue;
    padding: 10px;
    width: 25%;
    border-radius: 20px;
    background-color: lightblue;
    left: 350px;
    top: 50px;
  }

  input[type=text], select {
    position: relative;
  width: 250px;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  left: 75px;
  border-color: black;
}

input[type=tel], select {
  position: relative;
  left: 5px;
}


input[type=email], select {
position: relative;
left: 40px;
}

select {
  position: relative;
  left: 75px;
}

.form_left {
  position: relative;
  left: 50px;
}

option {
  background-color: lightblue;
}

.center_form {
  position: relative;
  left: 115px;
}

.links_form {
   position: relative;
  left: 5px;
}

.buttons {
  display: flex;
        justify-content: space-between;
        margin-top: 10px;
}

button.submit-btn {
        background-color: #27ae60;
        color: white;
        border: none;
        padding: 10px 25px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    button.cancel-btn {
        background-color: #c0392b;
        color: white;
        border: none;
        padding: 10px 25px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    .thx {
      position: absolute;
      left: 900px;
      bottom: 260px;
      border: 5px solid;
       display: none;
    }

    .donatie_feld {
    position: relative;
      right: 20px;
    }

  #myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
  text-align: center; 
  line-height: 30px; 
  color: white;
}

/* pop up*/

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.cta-btn {
  background: #e63946;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

p {
  position: relative;
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  border: 5px solid black;
  background-color: lightblue;
  border-radius: 45px;
  top: 50px;
}

.bronnen_tekst {
  position: relative;
   bottom: 125px;
    justify-content: space-between;
     background-color: white;
  color: white;
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 6px solid blue;
  text-align: center;
  color: black; }

  .goede_doel_bronnen_tabel {
    position: relative;
     left: 800px;
    justify-content: space-between;
     background-color: white;
  color: white;
  width: 45%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 6px solid blue;
  text-align: center;
  color: black; }
  
  .bron_table {
    position: relative;
    right: 400px;
    bottom: 250px;
    font-size: 25px;
 text-decoration: none;
  }

  .cell {
    text-decoration: none;
    border-bottom: none;
  }

  .title {
    border: 4px solid lightskyblue;
    width: 19%;
    border-radius: 45px;
  }

  .tekst {
     justify-content: space-between;
     background-color: white;
  color: white;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 6px solid blue;
  text-align: center;
  color: black; }
  
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightskyblue;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}