body {
    background-color: snow;
}

a {
    color: white;
}

nav {
    background: darkblue;
    padding: 30px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
}

.formule-dropdown-content {
    display: none;
    position: absolute;
    background: white;
    padding: 10px;
    top: 100%;
    left: 0;
    min-width: 150px;
    z-index: 10;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-right-radius: 45px;
    border-top-left-radius: 41px;
    background-color: blue;
color: white;
}

.contact {
display: flex;
justify-content: space-around;
position: relative;
right: 600px;
}

.doel {
position: absolute;
bottom: 25px;
left: 500px;
}

.footer-logo {
    position: absolute;
    bottom: 1px;
    left: 1350px;
}


.logo-text-footer {
    position: absolute;
    bottom: 5px;
    font-style: italic;
    left: 750px;
    font-size: 35px;
}

.islam_button {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 180px;
    height: 180px;
}

.katholicisme_button {
    position: absolute;
    left: 145px;
     clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 180px;
    height: 180px;
}

.joden_button {
    position: absolute;
    left: 282px;
     clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 180px;
    height: 180px;
    border-color: white;
}

.protestanteisme_button {
    position: absolute;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 180px;
    height: 180px;
 left: 7px;
 bottom: 290px;
border-color: black;
}

.hindoeisme_button {
    position: absolute;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 180px;
    height: 180px;
 left: 145px;
 bottom: 290px;
border-color: black;
}

.Boeddhisme_button {
 position: absolute;
 clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
 width: 180px;
 height: 180px;
 left: 285px;
 bottom: 290px;
border-color: black;
}

.religon_buttons {
    position: absolute;
    bottom: 150px;
    left: 90px;
}

.description_css {
position: relative;

top: 50px;
left: 650px;
  background-color: white;
  color: white;
  width: 700px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 8px solid orange;
  text-align: center;
  color: black;
}